* {
    font-family: Roboto, helvetica, 'sans-serif';
    margin: 0;
}

/* styling the header */
.header {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
}

.logo {
    color:white;
    font-weight: 900;
    font-size:24px;
}
ul {
    list-style: none;
    display:flex;
    gap: 16px;
    font-size:18px;
}
a {
    text-decoration: none;
    color:#e5e7eb;
}

.logo, .header-links {
    padding: 16px 96px;
}
/* styling the description */
.description {
    background-color: #1F2937;
    display:flex;
    padding:80px 96px;
    justify-content: space-between;
}
.left-side{
    flex-direction: column;
    width: 50%;
}

.main-title {
    color:white;
    font-weight: bold;
    font-size:48px;
    padding-bottom:8px;
}

.summary {
    color:#e5e7eb;
    font-size:18px;
    padding-bottom:8px;
}

.button {
    background-color: #3882F6;
    width:max-content;
    color:white;
    border-radius: 8px;
    padding: 4px 24px;
}

.description .right-side {
    display:flex;
}

.placeholder {
    display:flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding:96px;
}
/* styling random information */
.random-container {
    padding: 48px;
}
.random-info {
    font-size:36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
.box{
    border: 4px solid #3882F6;
    border-radius: 8px;
    padding: 74px;
    max-width:150px;
}
.random-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;
}

.subtext {
    text-align: center;
    padding-top:8px;
    color:#1f2937
}

.item {
    max-width: 150px;
}

/* styling the quotation */
.quotation-section {
    background-color:#E5e7eb;
    padding:96px;
    display:flex;
    justify-content: center;
}

.quote-content {
    max-width: 760px;
    color:#1f2937;
}

.inspiration {
    font-size: 36px;
    font-weight: 250;
}

.author {
    font-weight: 900;
    text-align: right;
}

/*sign-up section styling*/
.signup-section {
    padding: 48px 96px;
    margin-bottom: 80px;
}
.signup-section .button {
    border: 2px solid white;
}

.signup-content {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    padding:56px 112px;
}

.left-side {
    width: 75%;
    color: white;
}

.action {
    font-size: 24px;
    font-weight: 900;
}

.invitation {
    font-weight:300;
}

/*Footer styling*/
.footer {
    background-color: #1F2937;
    color:white;
    text-align: center;
    padding: 24px;
    position:fixed;
    bottom:0;
    width:100%;
}